<!DOCTYPE html>
<html>
<head>
<title> Profile Page </title>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/updateprofile.css">
<link rel="stylesheet" type="text/css" href="/css/albums.css">
<script src="/js/validation1.js"></script>
</head>
<body>
    <ul>
        <li><a class="active" href="/useralbum">Home</a></li>
        <li><a href="/profile"> Profile</a></li>
        <li><a href="/updateprofile"> Update Profile</a></li>
        <li><a href="/useralbum">Albums</a></li>
        <li><a href="/logout">Logout</a></li>
        <li class="right"><a href="#"><%= fname%> <%= lname%></a></li>
        </ul>
<div class="profilebox">
<h1> Update Profile </h1>
<hr>
<form name="myform" action="/update" method="post" onsubmit="return validateform()" >
<p> First Name </p>
<input type="text" name="fname" placeholder="Enter first name">

<p> Last Name </p>
<input type="text" name="lname" placeholder="Enter last name">

<p> Email </p>
<input type="email" name="email" placeholder="Enter email">

<p> Password </p>
<input type="password" name="password" placeholder="Enter password">

<p> Birthdate </p>
<input type="date" name="dob" placeholder="Enter birthdate">

<p> Contact no </p>
 <input type="tel" name="con" pattern="[0-9]{10}" placeholder="9225630814">

<input type="submit" name="submit" value="Update">
</form>
</div>
</body>
</html>
